@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f7fa;
}

tbody tr:hover {
  background-color: #f8fafc;
}

@media (max-width: 1520px) {
  .left-svg {
    display: none;
  }
}

/* small css for the mobile nav close */
#nav-mobile-btn.close span:first-child {
  transform: rotate(45deg);
  top: 4px;
  position: relative;
  background: #a0aec0;
}

#nav-mobile-btn.close span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: 0px;
  background: #a0aec0;
}
